/* this is to reset almost everything under the popup to a sane value */

#rikaichan-window, #rikaichan-window * { 
	width: auto;
	height: auto;
	background: transparent;
	color: #000000;
	border: none !important;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	letter-spacing: normal;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	word-spacing: normal;
	font: normal 14px sans-serif;
	visibility: visible;
}

#rikaichan-window { 
	position: absolute;
	z-index: 999999999;
	border: 1px solid #D0D0D0 !important;
	padding: 4px;
	background: #FFFFBF;
	top: 5px; 
	left: 5px;
	min-width: 100px;
	-moz-border-radius: 5px;	
}

/* used for word definitions */

#rikaichan-window .w-kanji {
	font-size: 18px;
	color: #7070E0;
	margin-right: 0.7em;
}

#rikaichan-window .w-kana {
	font-size: 18px;
	color: #20A020;
}

#rikaichan-window .w-conj {
	color: #A0A0A0;
	font-size: 12px;
}

#rikaichan-window .w-def {
	font-size: 13px;
}

#rikaichan-window .w-title {
	font-size: 10px;
	padding: 2px;
	background: #F0F0B0;
	color: #000000;
}

#rikaichan-window .w-na-tb td {
	vertical-align: top;
	padding-right: 0.8em;
}

/* used for kanji information */

#rikaichan-window .k-main-tb {
	width: 300px;
}

#rikaichan-window .k-kanji {
	font-family: serif;
	font-size: 48px;
	color: #000000;
}

#rikaichan-window .k-eigo {
	font-size: 12px;
}

/* kanji: readings */

#rikaichan-window .k-yomi {
	font-size: 14px;
	color: #20A020;
	margin: 4px 0px;
}

#rikaichan-window .k-yomi-hi {
	color: #CD5C5C;
	border: 1px solid red;
}

#rikaichan-window .k-yomi-ti {
	font-size: 11px;
	color: #000000;
}

/* kanji radical, grade, freq, strokes box */

#rikaichan-window .k-abox-tb {
	width: 120px;
	margin-bottom: 4px;
	float: right;
	clear: right;
}

#rikaichan-window .k-abox-r {
	font-size: 12px;
	text-align: center;
	padding: 1px 4px;
	background: #FFFFE6;
	color: #000000;
}

#rikaichan-window .k-abox-g {
	font-size: 12px;
	text-align: center;
	padding: 1px 4px;
	background: #F7F7D0;
	color: #000000;
}

#rikaichan-window .k-abox-f {
	font-size: 12px;
	text-align: center;
	padding: 1px 4px;
	background: #F7F7D0;
	color: #000000;
}

#rikaichan-window .k-abox-s {
	font-size: 12px;
	text-align: center;
	padding: 1px 4px;
	background: #FFFFE6;
	color: #000000;
}

/* kanji components box */

#rikaichan-window .k-bbox-tb {
	width: 120px;
	margin-bottom: 4px;
	float: right;
	clear: right;
}

#rikaichan-window .k-bbox-0a {
	vertical-align: top;
	font-size: 11px;
	padding: 1px 3px;
	background: #FFFFE6;
	color: #000000;
}

#rikaichan-window .k-bbox-0b {
	vertical-align: top;
	font-size: 11px;
	padding: 1px 3px;
	background: #FFFFE6;
	color: #000000;
}

#rikaichan-window .k-bbox-1a {
	vertical-align: top;
	font-size: 11px;
	padding: 1px 3px;
	background: #F7F7D0;
	color: #000000;
}

#rikaichan-window .k-bbox-1b {
	vertical-align: top;
	font-size: 11px;
	padding: 1px 3px;
	background: #F7F7D0;
	color: #000000;
}


/* kanji: misc index */

#rikaichan-window .k-mix-tb {
	width: 100%
}

#rikaichan-window .k-mix-td0 {
	font-size: 12px;
	background: #FFFFE6;
	color: #000000;
}

#rikaichan-window .k-mix-td1 {
	font-size: 12px;
	background: #F7F7D0;
	color: #000000;
}


/* manual query */

#rikaichan-window .q-tb td {
}

#rikaichan-window .q-w {
	border-right: 1px dotted #B0B0B0 !important;
	padding: 0px 2px;
	vertical-align: top;
	min-width: 300px;
}

#rikaichan-window .q-k {
	padding: 0px 2px;
	vertical-align: top;
}

/*rikaichan toolbar*/

.rikaichan-toolbar-toolbar{
	display: flex;
	border: solid 1px #c6c6c6;
	padding: 3px;
	border-radius: 4px;
}

#rikaichan-toolbar .rikaichan-input{
	border-radius: 4px;
	border: 1px solid #ccc;
	height: 20px;
}

#rikaichan-toolbar .rikaichan-btn{
	height: 22px;
	width: 22px;
	margin: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #ccc;
}

#rikaichan-toolbar .search{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJGSURBVDjLjdJLSNRBHMDx78yqLZaKS75DPdgDDaFDbdJmde5QlhCJGxgpRJfqEEKnIsJLB7skQYQKZaSmdLaopPCgEvSCShCMzR5a7oq7/3l12RVtjfzBMA/4fWZ+MyOccwBM3g8HEbIdfCEhfAFnLVapOa28Uevpjrqz/WOsERJgsu9Uq5CZQzgqrJfo9BajNd5irEYn4p3OUiFExtCLmw2tawFi4l5zUMjMIau9u7K+qxeoAcoAA0wDb2OPwmfA16LiiaOHLj1edRLpkO3WmIis7+oBDgJbgQ2AH6gC6jY19N62RkcctKeVIJAhp9QgUA3kJXdONZVcq9JxPSgQoXRAyIDRth8oAXQyKdWnoCKrTD9CBv4GMqx1WGNZkeRWJKbG2hiD1Cb9FbTnzWFdY/LCdLKlgNQ84gyNKqHm0gDjqVHnxDHgA/B9RQkpaB6YklkZl62np9KBhOqwjpKFgeY2YAz4BESBWHI8Hhs6PVVSvc3v98ye4fP7T676B845nt040ip98qpWJmI9PWiU6bfWgXGN2YHcKwU7tsuc4kpUPMbU0+f8+vKt+Pitl7PLAMDI9cNBoB0hQwICzjqUp6MZvsy8yvp95BRuQUjJ75mPvH4wYo1NlJ64Mza7DPwrhi8cCOeXl/aUB4P4c/NJxKLMvpngycCrzxVFG2v/CwAMnguF80oLe8p27cQh+fnpPV/fTc95S6piXQDAw7a9YbWkezZXFbAwMx/xPFXb1D3+Y90AQF/L7kAsri9mZ4lrTd0TcYA/Kakr+x2JSPUAAAAASUVORK5CYII=);
}

#rikaichan-toolbar .copy{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIpSURBVDjLddM9aFRBFIbh98zM3WyybnYVf4KSQjBJJVZBixhRixSaShtBMKUoWomgnaCxsJdgIQSstE4nEhNREgyoZYhpkogkuMa4/3fuHIu7gpLd00wz52POMzMydu/Dy958dMwYioomIIgqDa+VnWrzebNUejY/NV6nQ8nlR4ufXt0fzm2WgxUgqBInAWdhemGbpcWNN9/XN27PPb1QbRdgjEhPqap2ZUv5+iOwvJnweT1mT5djZKjI6Ej/udz+wt1OJzAKYgWyDjJWyFghmzFsbtcY2gsTJwv09/Vc7RTgAEQgsqAKaoWsM8wu/z7a8B7vA8cHD3Fr+ktFgspO3a+vrdVfNEulJ/NT4zWngCBYY1oqSghKI465fvYwW+VAatPX07IZmF7YfrC0uDE8emPmilOFkHYiBKxAxhmSRPlZVVa2FGOU2Ad2ap4zg92MDBXJZczFmdflx05VEcAZMGIIClZASdesS2cU/dcm4sTBArNzXTcNakiCb3/HLRsn4Fo2qyXh3WqDXzUlcgYnam3Dl4Hif82dbOiyiBGstSjg4majEpl8rpCNUQUjgkia0M5GVAlBEBFUwflEv12b/Hig6SmA1iDtzhcsE6eP7LIxAchAtwNVxc1MnhprN/+lh0txErxrPZVdFdRDEEzHT6LWpTbtq+HLSDDiOm2o1uqlyOT37bIhHdKaXoL6pqhq24Dzd96/tUYGwPSBVv7atFglaFIu5KLuPxeX/xsp7aR6AAAAAElFTkSuQmCC);
}

#rikaichan-toolbar .save{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAH+SURBVBgZBcE9i11VGAbQtc/sO0OCkqhghEREAwpWAWUg8aMVf4KFaJEqQtAipTZWViKiCGOh2Ap2gmJhlSIWFsFOxUK0EsUM3pl79n4f12qHb3z3Fh7D83gC95GOJsDe0ixLk5Qq/+xv/Lw9Xd+78/HLX3Y8fXTr2nWapy4eCFKxG7Fby97SnDlYtMbxthyfzHO//nl85fNvfvnk8MbX5xa8IHx1518Vkrj54Q+qQms2vVmWZjdiu5ZR2rT01166/NCZg/2PFjwSVMU6yjoC1oq+x6Y3VbHdlXWExPd379nf7Nmejv2Os6OC2O4KLK0RNn3RNCdr2Z5GJSpU4o+/TkhaJ30mEk5HwNuvX7Hpi76wzvjvtIwqVUSkyjqmpHS0mki8+9mPWmuWxqYvGkbFGCUAOH/+QevYI9GFSqmaHr5wkUYTAlGhqiRRiaqiNes6SOkwJwnQEqBRRRJEgkRLJGVdm6R0GLMQENE0EkmkSkQSVVMqopyuIaUTs0J455VLAAAAAODW0U/GiKT0pTWziEj44PZ1AAAAcPPqkTmH3QiJrlEVDXDt0qsAAAAAapa5BqUnyaw0Am7//gUAAAB49tEXzTmtM5KkV/y2G/X4M5fPao03n/sUAAAAwIX7y5yBv9vhjW/fT/IkuSp5gJKElKRISYoUiSRIyD1tufs/IXxui20QsKIAAAAASUVORK5CYII=);
}

#rikaichan-toolbar .config{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGSSURBVCjPVVFNSwJhEF78Ad79Cf6PvXQRsotUlzKICosuRYmR2RJR0KE6lBFFZVEbpFBSqKu2rum6llFS9HHI4iUhT153n6ZtIWMOM+/MM88z7wwH7s9Ub16SJcnbmrNcxVm2q7Z8/QPvEOtntpj92NkCqITLepEpjix7xQtiLOoQ2b6+E7YAN/5nfOEJ2WbKqOIOJ4bYVMEQx4LfBBQDsvFMhUcCVU1/CxVXmDBGA5ZETrhDCQVcYAPbyEJBhvrnBVPiSpNr6cYDNCQwo4zzU/ySckkgDYuNuVpI42T9k4gLKGMPs/xPzzovQiY2hQYe0jlJfyNNhTqiWDYBq/wBMcSRpnyPzu1oS7WtxjVBSthU1vgVksiQ3Dn6Gp5ah2YOKQo5GiuHPA6xT1EKpxQNCNYejgIR457KKio0S56YckjSa9jo//3mrj+BV0QQagqGTOo+Y7gZIf1puP3WHoLhEb2PjTlCTCWGXtbp8DCX3hZuOdaIc9A+aQvWk4ihq95p67a7nP+u+Ws+r0dql9z/zv0NCYhdCPKZ7oYAAAAASUVORK5CYII=);
}